/* General Rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* inizio nav pagina */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
}

header ul li {
    padding: 20px 25px;

}

header img{
    padding-top: 15px;
    
}

li{
    list-style: none;
    display: inline-block;
    
    
}

.menusx{
    float: left;
    width: 50%;
    
    
}

.menudx{
    float: right;
}

.quadratoblu {
    background-color: blue;
    color: white;
    padding: 10px;
}



/* fine parte nav pagina */

/* inizio primo container */

#container-intro {
    height: 80vh;
    background-color: lightblue;
    padding: 20px;
    margin-top: 70px;
    
}

.text {
    font-size: 30px;
    width: 80%;
    padding: 100px;
    
    
}

.descrizione{
    width: 600px;
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 30px;
    
}

a {
    font-size: 20px;
    margin-top: 10px;
    text-decoration: none;
}
p {
    font-size: 20px;
    margin-top: 20px;
}

.fa-arrow-down {
    margin-top: 30px;
    
}

#jumbo {
    height: 800px;
    position: relative;
    left: 700px;
    bottom: 390px;
}
/* fine primo container */

#container-acquisto {
    width: 100%;
    height: 2000px;
    background-color: rgb(183, 121, 185);
}

#centratura {
    font-size: 30px;
    padding: 300px;
    font-size: 30px;
}
#centratura {
    width: 90%;
    margin: 0 auto;