/* General Rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* inizio nav pagina */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
}

header ul li {
    padding: 20px 25px;

}

header img{
    padding-top: 15px;
    
}

li{
    list-style: none;
    display: inline-block;
    
    
}

.menusx{
    float: left;
    width: 50%;
    
    
}

.menudx{
    float: right;
}

.quadratoblu {
    background-color: blue;
    color: white;
    padding: 10px;
}



/* fine parte nav pagina */

/* inizio primo container */

#container-intro {
    height: 750px;
    background-color: lightblue;
    padding: 20px;
    margin-top: 70px;
    
}

.text {
    font-size: 30px;
    width: 80%;
    padding: 100px;
    
    
}

.descrizione{
    width: 600px;
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 30px;
    
}

a {
    font-size: 20px;
    margin-top: 10px;
    text-decoration: none;
}
p {
    font-size: 20px;
    margin-top: 20px;
}

.fa-arrow-down {
    margin-top: 30px;
    
}

#jumbo {
    height: 600px;
    position: relative;
    left: 700px;
    bottom: 420px;
}
/* fine primo container */

#container-acquisto {
    width: 100%;
    height: 1300px;
    background-color: white;
    margin-top: 300px;
}

#centratura {
    font-size: 30px;
    width: 70%;
    margin: 0 auto;
}
#periodo-abbonamento{
    margin-bottom: 40px;
}

h2 {
    font-size: 50px;
    margin-bottom: 50px;
}

/* inizio piani di acquisto */

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.colonna{
    width: 30%;
    float: left;
}

.mx {
    margin: 0 5%;
}

.fontawesome {
    text-align: center;
    border: 2px solid;
    border-color: grey;
    width: 100%;
    padding: 20px 0;
    font-size: 30px;
    
}

.offerta-singolo {
    border-bottom: 2px solid grey;
    border-right: 2px solid grey;
    border-left: 2px solid grey;
    height: 1000px;
    padding: 20px;
}

h3{ 
    font-size: 30px;
}

.acquista{
    text-decoration: underline;
    color: blue;
}

h4 {
    font-size: 20px;
}


.fa-check{
    border-bottom: 10px;
    color: blue;

}


.user, .folder, .pencil, .check{

    margin: 15px 0;
}
/* fine piano di acquisto */

/* inizio container ufficio vendite */
#enterprise{
    height: 500px;
}

.destra{
    float: right;
    margin-right: 300px;
    margin-top: -100px;
}

.soluzione{
    font-size: 15px;
}

.bordi{
    border: 2px solid;
    border-color: grey;
    width: 100%;
    padding: 20px 0;
}

/* INIZIO PARTNER */
#fotouomini{
    width: 800px;
}

.contattaci{
    height: 800px;
}


.contattaci .partner {
    font-size: 15px;
    font-weight: 400;
    padding: 10px 40px;
    border: 1px solid grey;
    background-color: white;
    
}
.sinistra{
    float: left;
}
.destra{
    float: right;
}

.partner{
    float: right;
  
}  

/* FINE PARTNER */

/* INIZIO OPERAZIONI DROPBOX BUSINESS */

.littleimg{
    width: 400px;
}

.colonnav2{
    float: left;
    width: 30%;
    margin: 0 ;
}

.middle{
    margin:0 5%;
}